@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");

* {
  box-sizing: border-box;
}

body {
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #6e6e6e;
  margin-top: 30px;
  margin: auto;
  text-align: center;
}

.details-card {
  background: white;
  width: 340px;
  display: inline-block;
  margin: 50px;
  border-radius: 15px;
  text-align: center;
  box-shadow: -1px 15px 30px -12px #000000a2;
}

.image-card {
  background-color: transparent;
}

.image-card img {
  max-width: 240px;
  max-height: 360px;
  border-radius: 15px;
}

.tipo-card {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  background-color: transparent;
}

.nome-card {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.descricao-card {
  padding: 20px;
  margin-bottom: 10px;
}

.caracteristica-card-valor {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
}

.caracteristicas {
  color: white;
  font-weight: 700;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  background-color: #8bcf8bce;
  width: 100%;
}

.caracteristicas .itens {
  float: left;
  padding: 20px 15px;
  background-color: transparent;
}

.caracteristicas sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}

.caracteristicas .caracteristica-card {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}

.caracteristicas .caracteristica-card-item {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  background-color: transparent;
}

.button-card {
  background-color: #8bcf8b42;
  width: 100px;
}
